.oee-linechart {
    display: flex;
    align-content: center;
    gap: 5px;
    padding-top: 5px;
    height: 30%;
    min-width: fit-content;
}

.line-chart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    height: 100%;
    width: 100%;
    min-width: 1250px;
}

.oee-linechart fieldset {
    background-color: #0D0D0D;
    width: 100%;
    height: 100%;
    border: 1px solid #545454;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    text-align: right;
    vertical-align: top;
}

.linechart-wrapper {
    height: 100%;
    width: 100%;
    align-content: center;
    position: absolute;
    right: 5px;
    margin: 0 auto;
    bottom: 0;
}

.oee-linechart canvas {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.chart-error {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -5%);
    color: red;
    font-size: 20px;
    font-weight: bold;
    z-index: 10;
}
