.filter-controls-wrapper {
    display: flex;
    gap: 0.5rem;      
    align-items: center;
}

.filter-controls-wrapper .form-control,
.filter-controls-wrapper .form-select {
    flex-grow: 1;
}

.btn-group-equal > .btn {
    flex-basis: 0;
}