.production-history {
    margin-top: 5px; 
    height: calc(85% - 5px); 
    width: 100%; 
    min-width: fit-content;
    color: white;
    background: #0D0D0D;
    border: 1px solid #545454;
    border-radius: 10px;
}

.production-history .table-wrapper {
    overflow-x: auto;
    padding: 10px;
    height: calc( 100% - 100px);
}

.production-history table {
    width: 100%;
    border-collapse: collapse;
}

.production-history th,
.production-history td {
    padding: 8px 12px;
    text-align: left;
    border-bottom: 1px solid #333;
    font-size: 14px;
}

.production-history th {
    background-color: #222;
    font-weight: bold;
}

.production-history tr:hover {
    background-color: #2a2a2a;
}

.production-history td:first-child {
    font-weight: bold;
    text-align: center;
}

.production-history td:last-child {
    font-weight: bold;
    text-align: center;
}

#partSummary table {
    min-width: 800px;
    border: 1px solid #ccc;
    text-align: center;
}
#partSummary th,
#partSummary td {
    padding: 4px 10px;
    border: 1px solid #ccc;
    white-space: nowrap;
}

.summaryTableContainer table {
    width: 60vw;
    background-color: #1e1e1e;
}

#summaryTableContainer table th {
    background-color: #222;
}

#summaryTableContainer table th,
#summaryTableContainer table td {
    padding: 10px;
    border: 1px solid #333;
    text-align: left;
}

#summaryTableContainer table th.equal-col,
#summaryTableContainer table td.equal-col {
    width: 11%; /* adjust depending on layout preference */
    word-wrap: break-word;
}
