USE [master]
GO
/****** Object:  Database [oee_db]    Script Date: 17/06/2025 16:13:20 ******/
CREATE DATABASE [oee_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'oee_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\oee_db.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'oee_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\oee_db_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [oee_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [oee_db]
GO
/****** Object:  User [verymaron01]    Script Date: 17/06/2025 16:13:20 ******/
CREATE USER [verymaron01] FOR LOGIN [verymaron01] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [verymaron01]
GO
ALTER ROLE [db_datareader] ADD MEMBER [verymaron01]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [verymaron01]
GO
/****** Object:  Table [dbo].[parameter]    Script Date: 17/06/2025 16:13:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parameter](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[line] [varchar](50) NOT NULL,
	[model] [varchar](100) NOT NULL,
	[part_no] [varchar](100) NOT NULL,
	[planned_output] [int] NOT NULL,
	[updated_at] [datetime] NULL,
	[sap_no] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uc_line_model_part_sap] UNIQUE NONCLUSTERED 
(
	[line] ASC,
	[model] ASC,
	[part_no] ASC,
	[sap_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[parts]    Script Date: 17/06/2025 16:13:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[log_date] [date] NOT NULL,
	[log_time] [time](7) NOT NULL,
	[line] [varchar](50) NOT NULL,
	[model] [varchar](50) NOT NULL,
	[part_no] [varchar](50) NOT NULL,
	[count_value] [int] NOT NULL,
	[count_type] [varchar](50) NOT NULL,
	[note] [varchar](max) NULL,
	[lot_no] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stop_causes]    Script Date: 17/06/2025 16:13:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stop_causes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[log_date] [date] NOT NULL,
	[stop_begin] [datetime] NOT NULL,
	[stop_end] [datetime] NOT NULL,
	[line] [nvarchar](50) NOT NULL,
	[machine] [nvarchar](50) NOT NULL,
	[cause] [nvarchar](255) NOT NULL,
	[note] [nvarchar](255) NOT NULL,
	[recovered_by] [nvarchar](100) NOT NULL,
	[duration]  AS (datediff(minute,[stop_begin],[stop_end])) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_logs]    Script Date: 17/06/2025 16:13:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[action_by] [varchar](100) NULL,
	[action_type] [varchar](20) NULL,
	[target_user] [varchar](100) NULL,
	[detail] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 17/06/2025 16:13:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[role] [varchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[parameter] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[parts] ADD  CONSTRAINT [DF_parts_note]  DEFAULT ('-') FOR [note]
GO
ALTER TABLE [dbo].[user_logs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('user') FOR [role]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
USE [master]
GO
